@charset "utf-8";
/**
* Globale Einstellungen und Bugfixes
*
* @section Browser-Reset
*/
 

 /* Zurücksetzen der Innen- und Außenabstände */
* {
  margin: 0;
  padding: 0;
}

/**
* -----------------Schriftgröße kontrollieren
*/
body, td, th { font: normal 75%/167% Georgia, Palatino, "Times New Roman", serif; }
 
td, th { font-size: 100%; }

/*----------------------- Farben und Hintergründe setzen */
html, body {
  color: #3b2b20;
  /*color: #c2c2d6;*/
 /* background-color:#cc00cc;*/
  background-color:#E3E3ED;
  
}


/**
* -----------------Regeln für allgemeine Elemente
*
* @section Überschriften
*/
h1 {
 /* color: #ffffff;
  background-color: ;
  font-size: 3em;
  line-height: 1.1;
  margin: .8em 0;*/
  
  
	color: white;
    font-size:50px;
	float:center;
	margin: 25px 100px 25px 100px;
}

h2 {
  color: #ffffff;
  background-color: ;
  font-size: 2em;
  line-height: 1.1;
  margin: .8em 0;
}
h3 {
  color: #3C6331;
  background-color: ;
  font-size: 1.5em;
  line-height: 1.1;
  margin: .8em 0;
  text-transform: uppercase;
  padding: 1px 1px 1px 230px;
}


/*----------section Head------moi*/
#title a
{
	text-decoration:none;
	color:#fff;
}

div#title 
{
   
  position: relative;
 /* background-color:#000000;*/
  background-color:#7575A3;
  padding-top: 2px;
  padding-right:100px;
  padding-bottom:10px;
  padding-left:100px;
  
  
}


hr{
	color:000000;
	font-size:0px;
	margin-bottom:6px;
}

/*----Section Anker-------------Moi*/
#menu a
{
  color: #fff;
  background-color: #002274;
  font-size: 12px;
  font-weight: bold;
  padding: 8.5px 15px 10px 15px;
  text-decoration:none;
  border: 1px solid #002274;
 
 
}
div#menu{

margin: 0 0 0 230px;
}
#menu a:hover
{
  color: #002274;
  background-color: #fff;
}

#content h2
{
	color: #c5c;
}

#content img {
  float: ;
  margin: .5em .5em .5em .5em;
  margin-left: 20px;
  height: 268px;
}

#content p {
  float: left;
  margin: .5em .5em .5em 0;
  /*color:#eeeeee;*/
  color:#000000;
}

#content a {
  
  font-size:15px;
  color:;
}

div#content {
  margin: 0 0 0 200px;
  padding: 0 12px 0 36px;
}
#content img {

margin: 0 0 0 1px;
width:600px;
height: 300px;
}


/**
*------------------------------------------------------------------ @section Footer
*/
div#footer {

  border:1;
  color: #ffffff;
  /*background-color: #000000;*/
  background-color: #7575A3;
  padding: 0px 0;
  font-family: Tahoma, Arial, sans-serif;
  font-size: .9em;
  clear: both;
  margin: 1px 0 0 0;
  
}
#footer p {
float:center;
  width: 932px;
  height: 20px;
  margin: 5px 0 0 0;
  padding: 1px 1px 1px 230px;
}


/*-----------------------------Impressum------------*/


div#impressum {

  margin: 100px 330px  100px 230px;
  background-color: #ffffff;
  padding: 10px 0 10px 0;
}

/*---------------Kontakt.----------------*/

div#form {

  margin: 100px 330px  100px 230px;
  background-color: ;
  padding: 10px 0 10px 0;
}

/*----------------------login(input formatieren)-----------*/

div#login {

  margin: 100px 330px  100px 230px;
  background-color: ;
  padding: 15px 0 1px 0;
  
}


#cancel{
	color: white;
	width: 100px;
	background-color: red;
}

#Abschicken{
	color: white;
	width: 100px;
	background-color: blue;
}

/*----------------suche(Formular formatieren)--------*/

#myform {

  margin: 100px 330px  100px 230px;
  background-color: ;
  padding: 10px 0 10px 0;
  height: 210px;
}

#form h2
{
	color: #c5c;
}

#regie{
  margin: 50px 0 50px 0;ing:2px 0 2px 0;

}

/*----------------Filmliste--------*/
#info_suche {

  margin: 0 320px 0 230px;
  background-color:#fff;
}

/*---------Filmbeschreibung----*/
#info_film {
  margin: 3px 335px  80px 230px;
  background-color:#fff ;
  padding: 10px 0 10px 0;
}

/*-------------------login frei------*/
#login_frei{
  margin: 3px 355px  35px 230px;
  background-color:#fff ;
  padding: 150px 10px 150px 170px;

}
#login_frei p{
  color:#000;

}

/*------------gallerie--------------------*/
#gallerie{
   margin: 0 0 0 264px;
}
#gallerie h2
{
	color: #c5c;
}



